@model ESurvey.WebUI.Models.CreateSurveyFormModel



<div id="CreateForm">
<h3> Enter your survey name</h3>
    @Html.LabelFor(m => m.Title)
    @Html.EditorFor(m=>m.Title)
    <button class="btn btn-default" type="button" id="SubmitForm" value="button">Submit</button>
    <button class="btn btn-default" type="button" id="CancelForm" value="button">Cancel</button>    
 </div>


