
@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>
<div>
    <div ng-app="adminApp">
        <div ng-controller="profileContorller">
            <div ng-repeat="survey in surveys">
                    <div class="container">
                        <div class="col-sm-4">
                            <div class="well-sm">
                                {{survey.Title}}
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-md btn-warning" ng-click="redirectToEdit(survey.Id)">Edit</button>
                                        <button type="button" class="btn btn-md btn-info" ng-click="redirectToPublish(survey.Id)">Publish</button>
                                        <button type="button" class="btn btn-md btn-danger" ng-click="deleteSurvey(survey)">X</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            <div ng-show="loading" class="loading">
                <img width="100" height="100" src="https://d13yacurqjgara.cloudfront.net/users/608059/screenshots/2032455/spinner.gif">LOADING...
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" id="createSurveyButton">Create new!</button>
    <div id="loadSpinner">
    <img width="100" id="loadSpinner"  visibility: hidden height="100" src="https://d13yacurqjgara.cloudfront.net/users/608059/screenshots/2032455/spinner.gif">LOADING...
    </div>
    <div id="createSurveyContainer"></div>
</div>
    @section scripts {
        <script type="text/javascript">
            $("#loadSpinner").css("visibility", "hidden");
            var loading = function(show) {
                if (show) {
                    $("#loadSpinner").css("visibility", "visible");
                } else {
                    $("#loadSpinner").css("visibility", "hidden");
                }

            }


            $(document).ready(function() {

                $("#createSurveyButton").click(function () {
                    if ($("#createSurveyContainer").html() != null) {
                        $("#createSurveyContainer").css("visibility", "visible");
                        $("#createSurveyButton").css("visibility", "hidden");
                    }
                    var url = "/Home/CreateSurveyForm";
                    $.ajax({
                        url: url,
                        method: "GET",
                        before: function(data) {
                            loading(true);
                        },
                        success: function(data) {
                            loading(false);
                            $("#createSurveyContainer").html(data);
                            //Subscribe
                            $("#CancelForm").click(function() {
                                $("#createSurveyContainer").css("visibility", "hidden");
                                $("#createSurveyButton").css("visibility", "visible");
                            });

                            $("#SubmitForm").click(function() {

                                var name = $("#Title").val();
                                if (name == "") {
                                    alert("Enter Survey Title");
                                    return;
                                }

                                var request = {
                                    Title: name,
                                    Id: 0
                                }


                                $.ajax({
                                    url: "/Survey/Create",
                                    method: "POST",
                                    data: request,
                                    before: function(data) {
                                        loading(true);
                                    },
                                    success: function(data) {

                                        //alert("Responce " + data.Data.Id);
                                        var res = data;
                                        if (res.HadError) {
                                            alert("An Error: " + res.ErrorMessage);
                                            return;
                                        }
                                        //REDIRECT
                                        window.location.href = "/Editor/EditSurvey/" + res.Data.Id;
                                    },
                                    error: function(data) {
                                     
                                        alert("RequestError");
                                    },

                                    complete: function(data) {
                                        loading(false);
                                    }
                                });

                            });


                        },
                        error: function(evt) {
                            loading(false);
                            alert("CreateSurveyForm Loading Error");
                        }
                    });

                });
            });
        </script>
    }





