<div>
    <h1>CreateQuestionTemplate</h1>
    <ul class="clearfix">
        <li ng-repeat="type in questionTypes">
                <button type="button" class="btn btn-success" ng-click="createQuestion(type.Id)">{{type.Title}}</button>
        </li>
    </ul>

</div>
