<div> 
    <h3>CreateQuestionTemplate</h3>
    <div class="clearfix">
        <div class="btn-group input-group btn-group-justified" ng-repeat="type in questionTypes">
            <label class="btn btn-default" ng-click="createQuestion(type.Id)">{{type.Title}}</label>
        </div>
    </div>
</div>
