<div>
    <h1>CreateQuestionTemplate</h1>
    <ul>
        <li ng-repeat="type in questionTypes">

            {{type.Title}}
            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="createQuestion(type.Id)">X</button>
            </div>
        </li>
    </ul>

</div>
