
@{
    ViewBag.Title = "EditSurvey";
}

<h2>EditSurvey</h2>
<div ng-app="editorApp">
    <div ng-controller="editorController">
        
        
        <survey-Details-Editor survey-Details="surveyDetails" loading="loading" survey-Id="@ViewBag.Id"></survey-Details-Editor>


    </div>
        
    
</div>

