
@{
    ViewBag.Title = "EditSurvey";
}

<h2>EditSurvey</h2>
<div ng-app="editorApp">
    <div ng-controller="mainController" ng-init="init(@ViewBag.Id)">


        <div ng-controller="editorController" ng-init="init()">
            {{q}}
            <div class="btn" ng-click="setPath()">BB</div>
            <survey-details-editor></survey-details-editor>
        </div>



    </div>
</div>

