<div>

    <div>
        <h4>{{surveyDetailsEdited.Title}}</h4>
        <h4>{{surveyDetailsEdited.Title}}</h4>
        <h4>{{surveyDetailsEdited.Title}}</h4>
        <h4>{{surveyDetailsEdited.Id}}</h4>
        <h4>{{surveyDetailsEdited.OwnerId}}</h4>
    </div>
    <div class="form-inline">
        <label for="titleInput"><h4>Title: </h4></label>
        <input type="text" class="form-control" id="titleInput" ng-model="surveyDetailsEdited.Title">
        <button type="submit" class="btn btn-default" ng-click="refreshSurveyDetails()">Reset</button>
        <button type="submit" class="btn btn-default" ng-click="sendSurveyDetails()">Save</button>
    </div>
</div>
