<div>

    <div>
        {{surveyDetails.Title}}<br />
        {{surveyDetails.Id}}<br />
                {{surveyDetails.OwnerId}}<br/>
    </div>
        
    <form class="form-group">
        Title: <input type="text" ng-model="surveyDetailsEdited.Title" /><br />
        <input type="button" ng-click="refreshSurveyDetails()" value="Reset" />
        <input type="submit" ng-click="sendSurveyDetails()" value="Save"/>
        <br />
        {{surveyDetailsEdited.Title}}<br />
        {{surveyDetailsEdited.Id}}<br />
        {{surveyDetailsEdited.OwnerId}}<br />
        

    </form>
</div>
